@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1.5;
    background-color: #D0D4D5;

}

#main {
    width: 100%;
    height: 100%;
    background-color: #D0D4D5;
    position: relative;
}

#nav {
    position: relative;
    height: 110px;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between
}

#nav img {
    height: 35px;
    margin-right: 165px;
    margin-left: 52px;
    cursor: pointer;
}

#nav-part1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#nav-part1 h4 {
    margin-right: 120px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 550;
    cursor: pointer;
    position: relative;
}

#nav-part1 h4:hover {
    color: #7186CD;
}

#nav-part1 h4:hover ::before {
    content: '';
    box-sizing: border-box;
    background-color: #7186CD;
    position: absolute;
    left: 0px;
    bottom: -10px;
    height: 3px;
    width: 50px;
}

.responsive-nav {
    display: none;
}

#nav-part2 i {
    margin-right: 60px;
    font-size: 23px;
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
}

span {
    color: #B22222;
}

#content {
    overflow: auto;
    width: 100%;
    position: relative;
    display: flex
}

#left {
    width: 40%;
    height: 100%;
    padding: 58px 100px
}

#left h5 {
    font-weight: 400;
    margin-bottom: 21px;
    font-size: 20px;
    color: #535353
}

#left h1 {
    font-weight: 600;
    margin-bottom: 21px;
    font-size: 55px;
    text-transform: uppercase
}

#left p {
    font-weight: 600;
    margin-top: 35px;
    font-size: 18px;
    text-transform: uppercase
}

#left button {
    margin-top: 27px;
    padding: 15px 27px;
    font-size: 20px;
    border-radius: 0 7px 7px 7px;
    font-weight: 600;
    background-color: #000;
    color: #fff;
    transition: 0.1s ease;
    cursor: pointer;
}

#left button:hover:active {
    transform: scale(1.1);

}


.ri-menu-line {
    display: none;
}

#right::-webkit-scrollbar {
    display: none;
}

#right {
    width: 60%;
    height: 100%;
    padding: 50px;
    position: relative;
    white-space: nowrap;
    overflow-x: auto;
}

.elem {
    width: 310px;
    height: 400px;
    border-radius: 8px;
    background-color: white;
    position: relative;
    display: inline-block;
    margin-right: 10px;
    text-align: left;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s ease;
}

.elem img {
    position: absolute;
    height: 84%;
    width: 95%;
    object-fit: cover;
}

.elem h4 {
    padding: 7px 10px;
    background-color: #989292;
    position: absolute;
    bottom: 33px;
    border-radius: 5px;
    left: 0;
    font-size: 17px;
}

.elem h5 {
    position: absolute;
    top: 0;
    left: 0;
    padding: 8px 12px;
    background-color: #1a1616;
    color: #fff;
    border-radius: 5px;
    font-size: 14px;
    font-size: 500;
}

.elem .read-more-button {
    position: absolute;
    background: #B22222;
    padding: 6px 8px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    left: 0;
    bottom: 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.elem .read-more-button:hover:active {
    transform: scale(1.1);

}

.elem .description {
    display: none;
    left: 0px;
    position: absolute;
    white-space: normal;
    top: 32px;
    font-size: 18px;
    font-weight: 500;
    transition: opacity 0.3s ease, font-size 0.3s ease, top 0.3s ease;
}

.elem .description.active {
    opacity: 1;
    top: 0;
    font-size: 18px;
}
.elem .description p{
    font-size: 18px;
    font-weight: 500;
    padding-left: 4px;
    
}

.read-less-button {
    position: absolute;
    cursor: pointer;
    margin-top: 24px;
    padding: 6px 8px;
    border-radius: 3px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    background: #B22222;
}

.footer {
    background-color: #D0D4D5;
    padding: 70px 0;
}

.container {
    max-width: 1170px;
    margin: auto
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.footer-col {
    width: 25%;
    padding: 0 15px;
}

.footer-col h4 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
    margin-bottom: 35px;
    color: #FFFFFF;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0px;
    height: 3px;
    width: 55px;
    bottom: -10px;
    background-color: #7186CD;
}

ul {
    list-style: none;
}

.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #535252;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #FFFFFF;
    margin-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 43px;
    width: 43px;
    line-height: 43px;
    background-color: #535252;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 43px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}

.footer-col .social-links a:nth-child(1):hover {
    color: #FF0000;
    background-color: rgba(182, 163, 228, 0.979);
}

.footer-col .social-links a:nth-child(2):hover {
    color: #1877F2;
    background-color: #ffffff;
}

.footer-col .social-links a:nth-child(3):hover {
    color: #e4405f;
    background-color: #ffffff;
}

.footer-col .social-links a:nth-child(4):hover {
    color: #0A66C2;
    background-color: #ffffff;
}

.footer-col .social-links a:nth-child(5):hover {
    color: #1DA1F2;
    background-color: #ffffff;
}

.footer-col .social-links a:nth-child(6):hover {
    color: #FFFC00;
    background-color: #ffffff;
}

.footer-col .social-links a:nth-child(7):hover {
    color: #E60023;
    background-color: #ffffff;
}

/*responsive*/
@media(min-width: 1180px) {
    #nav {
        padding-left: 0;
    }
}

@media(max-width: 1180px) {
    .footer {
        width: 100%
    }

    #nav-part1 h4 {
        display: none;
    }

    #nav-part2 i {
        display: none;
    }

    #nav-part2 i:nth-child(3) {
        display: inline-block;
    }

    .responsive-nav {
        transform: translateX(-100%);
    }

    .responsive-nav {
        position: absolute;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 85px;
        width: 100vw;
        height: 100vh;
        z-index: 222;
        background-color: #D0D4D5;
        color: #1a1616;
        text-align: center;
        font-size: 1.2rem;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        text-transform: uppercase;
        font-weight: 550;
    }

    .responsive-nav h4 {
        padding-block: 12.3px;
    }

    .responsive-nav.active {
        transform: translateX(0);
        display: flex;
        flex-direction: column;
    }

    #content {
        display: flex;
        flex-direction: column;
    }

    #left {
        width: 100%;
    }

    #right {
        width: 100%;
    }
}

@media(max-width: 915px) {
    #nav-part1 img {
        margin-left: 0px;
    }
}

@media(max-width: 767px) {
    #footer-col {
        width: 50%;
        margin-bottom: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .social-links a {
        margin-right: 5px;
    }

    .nav-part1 img {
        margin-left: 15px;
    }

    #nav-part1 h4 {
        display: none;
    }

    .nav-part2 li ri-menu-line {
        display: block;
        width: 25px;
        height: 20px;
    }

    #content {
        width: 100%;
        flex-direction: column;

    }

    .footer-col {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width: 768px) {

    #right {
        width: 100%;
        height: 100%;
        padding: 50px;
        position: relative;
        white-space: nowrap;
        overflow-x: auto;
    }

    #nav {
        padding: 0px 36px;
    }

    #left {
        width: 100%;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-right: 0;

    }

    #left h5 {
        width: 80%;
        font-size: 20px;
        color: #535353
    }

    #left h1 {
        width: 80%;
        font-size: 55px;
        text-transform: uppercase;
        justify-content: center;
    }

    #left p {
        width: 80%;
        font-size: 16px;
        text-transform: uppercase;
        justify-content: center;
    }

    #left button {
        padding: 15px 27px;
        font-size: 20px;
        border-radius: 0 7px 7px 7px;
        font-weight: 600;
        background-color: #000;
        color: #fff;
        justify-content: center;
        border: none;
    }
    .elem .description p{
        font-size: 17px;
        font-weight: 450;
        padding-left: 3px;   
    }
}

@media (max-width:653px) {
    #nav {
        width: 100%;
        padding: 0 26px;
    }

    #nav-part2 i {
        margin-right: 5px;
        font-size: 1.6rem;
        text-transform: uppercase;
        font-weight: 400;
        overflow: hidden;
    }

    h1 {
        font-size: 1.7rem !important;
    }

    h5 {
        font-size: 1.0rem !important;
    }

    p {
        font-size: 1.0rem ;
    }
    
    .row .footer-col {
        width: 100%;
        justify-content: center;
        margin: 5px auto;
    }
}

@media (max-width: 280px) {
    #nav {
        width: 100%;
        padding: 0 0px;
        box-sizing: border-box;
    }
}
